{% extends "base.html" %}

{% load static %}

{% block contents %}

    {% for error in form.non_field_errors %}
        {{ error }}
    {% endfor %}

    <h1 class="content-head">借入可能額</h1>
    <p class="contents-ex">必要事項を入力してください</p>
        <form action="" method="post" id="form" class="form">
            {% csrf_token %}

            <table>

                {% for field in form %}
                <tr>
                    <th>
                        {{ field.label }}
                    </th>
                    <td class="form-text">
                        {{ field }}
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <th>
                        金利情報
                    </th>
                    <td class="form-text">
                        <select name="bank_rate" class="select_radio" id="id_bank_rate" required>
                        </select>
                    </td>
                </tr>
            </table>
            <button type="submit" >計算</button>
        </form>

        {% if borrowable is not None %}

        <table id="ans" >
            <tr>
                <th>借入可能額</th>
                <td>
                    <span  class="answer">
                        {{ borrowable }}
                    </span> 円
                </td>
            </tr>
        </table>

        {% endif %}


{% endblock %}

{% block footer_script %}

let interest_ra = '{{ interest_rate | safe }}'

const info = {{ BankInfo | safe }}

const order = ['変動金利型','固定金利選択型01年','固定金利選択型02年','固定金利選択型03年','固定金利選択型05年','固定金利選択型07年','固定金利選択型10年','固定金利選択型15年','固定金利選択型20年','固定金利選択型30年','全期間固定金利型11〜15年','全期間固定金利型16〜20年','全期間固定金利型21〜25年','全期間固定金利型26〜30年','全期間固定金利型31〜35年']

on_radio()






{% endblock  %}
