{% extends "base.html" %}

{% load static %}

{% block contents %}

    {% for error in form.non_field_errors %}
        {{ error }}
    {% endfor %}

    <h1 class="content-head">オプションの変更・削除</h1>
    <p class="contents-ex">変更・削除するオプションを選択してください</p>
        <form method="post" id="form" class="form" enctype="multipart/form-data">
            {% csrf_token %}

            <table>

                {% for field in form %}
                <tr>
                    <th>
                        {{ field.label }}
                    </th>
                    <td class="form-text">
                        {{ field }}
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <th>
                        オプション
                    </th>
                    <td class="form-text">
                        <select name="bank_option" class="form-text" id="id_bank_option" required>
                            <option value=""> --------- </option>
                        </select>
                    </td>
                </tr>

            </table>
            <button type="submit" name="change">変更</button>
            <br>
            <button type="submit" name="delete">削除</button>
        </form>


{% endblock %}

{% block footer_script %}

const opt = {{ BankOption | safe }}
const page_type = 'change'
console.log(opt)




{% endblock  %}
