{% extends "base.html" %}

{% load static %}

{% block contents %}

    {% for error in form.non_field_errors %}
        {{ error }}
    {% endfor %}

    <h1 class="content-head">オプションを追加</h1>
    <p class="contents-ex">オプションを追加する金融機関を選択してください</p>
        <form method="post" id="form" class="form" enctype="multipart/form-data">
            {% csrf_token %}

            <table>

                {% for field in form %}
                <tr>
                    <th>
                        {{ field.label }}
                    </th>
                    <td class="form-text">
                        {{ field }}
                    </td>
                </tr>
                {% endfor %}

            </table>
            <button type="submit" name="change">追加</button>
        </form>


{% endblock %}

{% block footer_script %}



{% endblock  %}
