{% extends 'base.html' %}

{% load static %}

{% block contents %}


<section class="main-page">
        <img src="{% static '/assets/smile_navi_tr.png' %}"  class="main-logo">
        <div class="subject-display">
            <div class="contents">
                <h1 class="subject">住宅ローンを計算</h1>
                <a name="index_borrow_able" href="{% url 'loan_app:borrow_able' %}">借入可能額</a>
                <a name="index_required_income" href="{% url 'loan_app:required_income' %}">借入に必要な年収</a>
                <a name="index_repaid" href="{% url 'loan_app:repaid' %}">月々の支払い額</a>
            </div>
            <div class="contents">
                <h1 class="subject">金融機関</h1>
                <a name="index_compare_interest" href="{% url 'loan_app:compare_interest' %}">金利を比較</a>
                <a name="index_create_interest" href="{% url 'loan_app:create_interest' %}">金利を追加</a>
                <a name="index_choice_bank" href="{% url 'loan_app:choice_bank' %}">金利を編集・削除</a>
                <a name="index_create_option" href="{% url 'loan_app:create_option' %}">オプションを追加</a>
                <a name="index_choice_option" href="{% url 'loan_app:choice_option' %}">オプションを編集</a>
            </div>
            <div class="contents">
                <h1 class="subject">アカウント</h1>
                <a name="index_signup" class="logout" href="{% url 'account_signup' %}">アカウントの作成</a>
                <a name="index_login"  class="logout" href="{% url 'account_login' %}">ログイン</a>
                <a name="index_logout" class="login" href="{% url 'account_logout' %}">ログアウト</a>
            </div>
        </div>
</section>
{% endblock %}
