{% extends 'base.html' %}

{% block active_login %}active{% endblock %}

{% block contents %}

            <h1 class="content-head">ログイン</h1>
            <form action="{% url 'account_login' %}" id=form class="form" method="post">
                {% csrf_token %}

            {{ form.non_field_errors }}

            <table>
                {% for field in form %}
                <tr>
                    <th>
                        {{ field.label_tag }}
                    </th>
                    <td class="form-text">
                        {{ field }}
                    </td>
                    {{ field.errors }}
                </tr>
                {% endfor %}
            </table>

                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                {% endif %}

                <button class="btn btn-primary" type="submit">ログイン</button>

                <p class="contents-ex"><a href="{% url 'account_reset_password' %}" class="button secondaryAction">パスワードを忘れましたか？</a></p>
            </form>


{% endblock %}
