{% extends 'base.html' %}


{% block title %}パスワードリセット | Loan App{% endblock %}

{% block contents %}

            <h1 class="content-head">{% if token_fail %}不正トークン{% else %} パスワードリセット {% endif %} </h1>

            {% if token_fail %}

            {% url 'account_rest_password' as passwd_reset_url %}
            <p class="contents-ex">このパスワードリセット用リンクは無効になっています
                <a href="{{ passwd_reset_url }}">パスワードリセット再申請</a>
            </p>
            
            {% else %} 
            {% if form %}

            <form action="{{ action_url }}" method="post" class="form" id="form">
                {% csrf_token %}

                <table>
                {% for field in form %}
                <tr>
                    <th>
                        {{ field.label_tag }}
                    </th>
                    <td class="form-text">
                        {{ field }}
                    </td>
                    {{ field.errors }}
                </tr>
                {% endfor %}
            </table>

                <button class="btn btn-primary" type="submit">変更</button>
            </form>

            {% else %}

            <p>パスワードは変更されています</p>

            {% endif %}
            {% endif %} 



{% endblock %}
