
/* バランスの調整 */
html {
    height: 100%;
    font-size: 100%;
}

body {
    background: #E0D5CA;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
}

footer {
    margin-top: auto;
    position: relative;
    bottom: 0;
    width: 100%;
}


.container {
    min-height: 100vh;
}

/* ハンバーガー */

.hamburger img {
    padding-top: 6px;

}

#nav {
    background-color: #053177;
    width: 270px;
    height: 100%;
    position: fixed;
    right: -270px;
    top: 0;;
}

.hamburger-menu {
    text-align: center;
    color: #E0D5CA;
}

#nav h3 {
    font-size: 1.5rem;
    padding-top: 1.8rem;
}

#nav ul {
    max-width: 95%;
    margin: 0.8rem auto;
}

.hamburger-menu li {
    padding: 1.5rem;
    border-bottom: 2px solid #E0D5CA
}

#nav h4 {
    font-size: 1rem;
    padding:0rem 0.5rem 0.5rem;
}


.hidden_list li {
    padding: 1rem;
    border: #053177;


}

#nav a:hover {
    text-decoration: underline;
}

#wrapper, #nav {
    transition: transform 0.3s;
}

.show {
    transform: translate3d(-270px, 0, 0);
}





/* ヘッダー */
#menu {
    background: #053177;
}

.main-menu {
    display: flex;
    justify-content: center;
}

.menu-logo {
    width:120px;
    padding: 10px 0px 0px 10px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.main-menu a {
    padding: 1rem;
    color: #D9D5BE;
    display: inline-block;
    margin-top: 1rem;
    margin-right: 0.1rem;
    margin-left: 0.1rem;
    margin-bottom: 0.5rem;}

.main-menu li {
    font-size:1rem;
    font-family: 'Antonio', sans-serif;
    font-weight: 200;
    line-height: 1;
    position: relative;
    text-align:center;
}

.main-menu a:hover {
    text-decoration: underline;
}

.sub-menu {
    position: absolute;
    top: 3.5rem;}

.sub-menu a {
    font-size: 0.85rem;
    background: #053177;
    color: #D9D5BE;
    padding: 17px;
    margin: 0;
    width: 160px;
    text-align: left;
}

.has-menu {
    position: relative;
}

.has-menu .sub-menu {
    display: none;
}

.has-menu:hover .sub-menu {
    display: block;
}

.hamburger {
    display: none;
}




/* ホームページ */
.main-page {
    text-align: center;
    height: 100%;
}

.main-logo {
    width: 375px;
    display: flex;
    margin:  120px auto 50px;
}

.subject-display{
    display: flex;
    justify-content: space-around;
}

.subject {
    display:flex;
    flex-direction: column;
    font-size: 1.8rem;
    color: #053177;
    margin-bottom: 8px;
}

.contents {
    font-size: 1rem;
    color: #E39210;
    text-align: left;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.contents a {
    font-size: 1.5rem;
    padding:5px 0 5px;
}
.contents a:hover {
    text-decoration: underline;
}




/* コンテンツページ */
.content-head {
    font-size: 2.2rem;
    color: #053177;
    margin-bottom: 8px;
    margin: 2rem auto 1rem;
}

.contents-ex {
    font-size: 1rem;
    color: #E39210;
}


table {

    color: #053177;
    margin:1rem auto 1rem;
    width:100%;
    text-align: center;
    }

th {
    width:40%;
    text-align: right;
    vertical-align: middle;
    padding: 1rem 2rem;
    margin: 1rem 5rem;
    display: inline-block;
    display: table-cell;
}

td {
    vertical-align: middle;
    text-align: left;
    padding: 1rem 2rem;
    }



.big-table {
    display: flex;
    justify-content: space-around;
    margin: 2rem auto 3.5rem;
}

.table-head {
    border-width: 0.5px;
    border-style: solid;
    color: #E0D5CA;
    border-color: #96a8c6;
    background-color: #053177;
    width: auto;
    font-size: 0.9rem;
    text-align: left;
    vertical-align: middle;
    padding: auto;
}

.table-data {
    border-width: 0.5px;
    border-style: solid;
    border-color: #96a8c6;
    text-align: left;
    padding: auto;
}

.message {
    text-align: center;
    color: red;
}


/* フォーム */
.form-text {
    width: 60%;
    height: 1.5rem;
    padding: 0rem;
    margin-right:0.25rem;
}

.form-text input {
    width: 60%;
    height:1.55rem;
    background-color: white;
}

.form-text select {
    width: 60%;
    padding: 0.185rem;
    background-color: white;
}


/* テキストエリア */
.form-textarea {
    width: 60%;
    height: auto;
    padding: 0rem;
    margin-right:0.25rem;
}

.form-textarea textarea {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 7rem;
    padding-bottom: 7rem;
    background-color: white;
}

.form-textarea:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}

.form-text textarea {
    margin-top: 1rem;
    height: 7rem;
    padding-bottom: 7rem;
    background-color: white;
}

.form-text:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}

/* ラジオボタン */

.select_radio {
    padding: 0rem;
    max-width:60%;
    display:flex;
}

.select_radio div {
    width: 50%;
}

.select_radio label {
    width: 12rem;
    display:flex;
}

.select_radio input {
    margin-right: 0.3rem;
    width: 1rem;
}

td.radio {
    padding-left: 0rem;
}


/* 回答 */

.answer_main {
    font-size: 2.5rem;
    color:#E39210;
}


/* ボタン */

button {
    color:#D9D5BE;
    background:#053177;
    padding:0.5rem;
    margin: 0.5rem auto;
    width: 10rem;
    pointer-events: auto;
}

button:hover {
    background:#0c65f5;
}

/* 戻るボタン */
.back {
    color: #053177;
}

.back:hover {
    text-decoration: underline;
}



/* フッター*/
footer {
    text-align: center;
    background: #053177;
    padding: 1.5rem;}

footer a {
    color: #D9D5BE;
}

footer a:hover {
    text-decoration: underline;
}

/* 隠し */
.hidden {
    display: none;
}


/* アラートメッセージ */
.alert {
    margin: auto;
    text-align: center;
    max-width: 600px;
    font-size: 1.35rem;
}
.alert-danger{
    color: #E39210;
    padding: 1rem;
}
.alert-warning{
    color: #E39210;
    padding: 1rem;
}
.alert-success{
    color: #053177;
    padding: 1rem;

}
.alert-info{
    color: #053177;
    padding: 1rem;
}

/* Chart.js */
#myAreaChart {
    height: 40rem;
    max-width: 85%;
    align-content: center;
    margin: 3rem auto;
}
















@media (max-width: 600px) {


/* layout（画面パンパンにしない）*/
.container {
    width: 100%;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}


/* ヘッダー */

#menu {
    height: 80px;
    width: 100%;
}

.main-menu {
    display: none;
}


.hamburger {
    display: contents;
    /* width: 20px; */
}

.hamburger img {
    width: 40px;
    height: 40px;
    margin: 14px;
}

/* インデックスページ */
.subject-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.contents {
    margin-bottom: 2rem;
    text-align: center;
}



/* テーブル縦並び */
.form table {
    width: 100%;
}

.form th, .form td {
    display: block;
    width: 100%;
}


.form th {
    text-align: left;
    width:90%;
    padding: 0.5rem 0rem 0.5rem 10%;
    margin: 0rem auto ;

}

.form td {
    width: 90%;
    vertical-align: middle;
    text-align: left;
    padding: 0rem 0.5rem 0.5rem 10%;
    margin: 0.5rem auto;
    }

.form-text {
    min-width: 250px;
    padding-left: 0rem;
}

.form-textarea {
    min-width: 250px;
    padding-left: 0rem;
}

.no-head {
    display: none;
}

.form-text {
    width: 80%;
}

.form-text input {
    width: 80%;
}

.form-text select {
    width: 80%;
}


/* ラジオボタン */

td .select_radio {
    padding-bottom: 4rem;

}

.select_radio {
    flex-direction: column;
    padding: 0rem;
}

.select_radio div { 
    padding: 0rem;
}

#id_repaid_type {
    padding: 0rem;
}

#id_select {
    padding: 0rem;
}

.select_radio label {
    padding: 0rem 0rem 0.25rem ;
    width: 17rem;

}

.select_radio input {
    margin-right: 1rem;
    width: 1.2rem;
}

/* 回答のテーブル */

.answer table {
    width: 100%;
}

.answer th, #ans td {
    display: block;
    width: 100%;
}


.answer th {
    text-align: center;
    width: 90%;
    padding: 0.2 rem auto;
    margin: 0.5rem auto ;
    font-size: 1.25rem;
    font-weight: 500;
}

.answer td {
    text-align: center;
    width: 90%;
    vertical-align: middle;
    padding: 0.5rem auto 0.5rem;
    margin: 0.5rem auto;
    }

/* テーブル操作 */

  .big-table {
    width: 95%;
  }

  .table-head {
    display:none;
  }

  .big-table tr {
    width: 100%;
  }

  .big-table td {
    display: block;
    text-align: right;
    width: 100%;
  }
  .big-table td:first-child {
    background: #053177;
    color: #E0D5CA;
    font-weight: bold;
    text-align: center;
  }
  .big-table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    margin-right: 10px;
  }

  /* 金利比較の時の文字サイズ調整 */

#compare-interest td::before {
    text-align: left;
    margin-top: 0.125rem;
    font-size: 0.9rem;
    max-width: 45%;
}

/* 注意書き系の整頓 */

.confirm {
    max-width: 80%;
    margin: auto;
}

.confirm .contents-ex {
    text-align: left;
}

.chart-container {
    position: relative;
    height: 25rem;
    margin: 0rem auto;
}


}

@media (max-width: 450px) {
    .main-logo {
        width: 300px;
        display: flex;
        margin:  140px auto 150px;
    }

}
